# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
/static/
media/

# Virtual Environment
env/
venv/
node_modules
frontend/node_modules
